.sidebarOuter {
    display: flex;
    position: fixed;
    height: 100%;
    width: 80%;
    left: 0;
    top: 30px;
    text-align: center;
}

.sidebarInner {
    background: rgba(0, 29, 81, 0.9);
    color: #fff0b6;
    width: 25%;
}

.sidebarPages {
    flex: 1;
    padding: 30px;
    overflow: scroll;
    background-color: white;
    text-align: center;
}

.sidebarLinks {
    list-style: none;
    padding: 10px;
}

.sidebarLinks :link {
    color: white;
    text-decoration: none;
    font-size: 80%;
}

.sidebarLinks :visited {
    color: white;
}

.sidebarLinks :hover {
    color: #2d545e;
    background-color: white;
}

.sidebarLinks :active {
    background-color: white;
}