.topPanel {
    background: rgba(0, 0, 0, 0.85);
    height: 30px;
    width: 60%;
    right: 20%;
    top: 0;
    position: fixed;;
    font-size: 70%;
    text-indent: 80%;
    align-content: center;
}

.leftTopCorner {
    background: rgba(0, 0, 0, 0.85);
    height: 30px;
    width: 20%;
    left: 0;
    top: 0;
    position: fixed;
}

.link1:visited {
    color: mediumpurple;
    text-decoration: none;
}

.link1 {
    color: mediumpurple;
    text-decoration: none;
}

.link1:hover {
    color: white;
}

.link1:active {
    color: white;
}
